@media screen and (max-width: 736px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botoes{
        display: flex;
    }

    .botao{
        margin-bottom: 5px;
        width: 150px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}